/* Import Fonts Quicksand */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

/* Reset CSS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    background-color: #c8d6e5;
    color: #222f3e;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    line-height: 2.4rem;
}

.container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.app-header {
    background-color: #54a0ff;
    color: #fff;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.app-header .header-brand {
    padding: 15px;
    font-size: 2.4rem;
}

.app-header .nav {
    background-color: #2e86de;
}
.app-header .nav li {
    display: inline-block;
}

.app-header .nav-link {
    text-decoration: none;
    padding: 8px 10px;
    color: #fff;
    display: block;
    transition: background-color 0.2s ease;
}

.app-header .nav-link:hover {
    background-color: #1d6dbe;
}

.app-main {
    padding: 20px 0;
}

.app-main .content article, .app-main .sidebar {
    background-color: #e5ebf1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.app-main .content article {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }

    p {
        line-height: 2.7rem;
    }
.app-main .container {
    flex-direction: row;
    align-items: flex-start;
}

}
.app-main .content {
    flex-basis: 70%;
    margin-right: 15px;
}

.app-main .sidebar {
    flex-basis: 30%;
    position: sticky;
    top: calc(96px + 20px);
}

.app-footer {
    text-align: center;
    background-color: #576574;
    color: #fff;
    padding: 10px 0;
}

.app-footer p {
    font-size: 1.4rem;
}