/* Import Fonts Quicksand */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');

/* RESET CSS */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* BASE STYLES */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    background-color: #c8d6e5;
    color: #222f3e;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    transition: color 0.2s ease;
    color: #222f3e;
}
a:hover {
    color: #1d6dbe;
}

p {
    line-height: 2.4rem;
}

.container {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
}

/* HEADER */

.app-header {
    background-color: #54a0ff;
    color: #fff;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    z-index: 999;
}

.app-header .header-brand {
    padding: 10px 5px;
}

.app-header .header-brand h1 {
    font-size: 2rem;
}

/* NAV */

.app-header .nav {
    background-color: #2e86de;
}

.app-header .nav li {
    display: inline-block;
}

.app-header .nav-link {
    text-decoration: none;
    padding: 10px 5px;
    color: #fff;
    display: block;
    transition: background-color 0.2s ease;
}

.app-header .nav-link:hover {
    background-color: #1d6dbe;
}

/* MAIN */

.app-main {
    padding: 20px 0;
}

.app-main .content article, .app-main .sidebar {
    background-color: #e5ebf1;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}

/* CONTENT */

.app-main .content article {
    margin-bottom: 15px;
}

article .article-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: margin-bottom 0.5s ease;
}

article .article-title h2 i {
    margin-left: 10px;
    transition: transform 0.3s ease;
    transition-delay: 0.2s;
    color: #1d6dbe;
}

article .article-content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: auto;
    transition: max-height 0.4s ease;
    max-height: 1000px;
}

article.collapsed .article-title {
    margin-bottom: 0;
}

article.collapsed .article-title h2 i {
    transform: rotate(180deg);
}

article.collapsed .article-content {
    max-height: 0;
}

.article-content .item {
    flex-basis: 100%;
    flex-grow: 1;
    max-width: 100%;
}
.article-content .item .item-content {
    border: 1px solid #c8d6e5;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.item .item-year {
    font-size: 1.2rem;
    color: #8395a7;
    margin-bottom: 5px;
}

.item .item-subtitle {
    font-size: 1.3rem;
    color: #576574;
    font-weight: 500;
}

.item .item-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.item .item-description {
    font-size: 1.3rem;
}

.item .item-description p {
    line-height: 2.2rem;
}

.item .item-meter, .item .item-meter span {
    height: 8px;
}

.item .item-meter {
    background-color: #c8d6e5;
    margin-top: 5px;
    position: relative;
}

.item .item-meter span {
    width: 0;
    background-color: #54a0ff;
    position: absolute;
    transition: width 1s ease;
}

/* ABOUT */

#about .article-content {
    text-align: center;
}

/* PORTFOLIO */

#portfolio .item .item-img {
    margin-bottom: 5px;
}

/* SIDEBAR */

.app-main .sidebar {
    order: -1;
    margin-bottom: 15px;
    padding: 15px 30px;
}

.sidebar .article-title {
    cursor: auto;
}

/* PROFILE */

.profile .profile-img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    overflow: hidden;
    margin: 15px auto;
}

.profile .profile-img img {
    transition: transform 0.3s ease;
}

.profile .profile-img:hover img {
    transform: scale(1.8);
}

.profile .profile-name {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.profile .profile-contact-list {
    text-align: center;
}

.profile .profile-contact-item {
    margin-bottom: 5px;
}

.profile .profile-contact-item a i {
    margin-right: 8px;
    font-size: 1.8rem;
    vertical-align: middle;
}

/* FOOTER */
.app-footer {
    text-align: center;
    background-color: #576574;
    color: #c8d6e5;
    padding: 20px 0;
}

.app-footer p {
    font-size: 1.4rem;
}

/* RESPONSIVE */

/* FOR SCREEN GREATER THAN 360px */
@media screen and (min-width: 360px) {
    #skill .item {
        flex-basis: 50%;
        max-width: 50%;
    }
}

/* FOR SCREEN GREATER THAN 375px */
@media screen and (min-width: 375px) {
    .app-header .header-brand h1 {
        font-size: 2.4rem;
    }
}

/* FOR SCREEN GREATER THAN 576px AND LESS THAN 767px */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .article-content .item {
        flex-basis: 50%;
        max-width: 50%;
    }
}

/* FOR SCREEN GREATER THAN 768px */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.6rem;
    }

    p {
        line-height: 2.7rem;
    }

    .container {
        padding: 0 20px;
    }

    .app-header .header-brand h1 {
        font-size: 3.6rem;
    }

    .app-header .nav-link {
        padding: 12px 10px;
    }

    .app-main .container {
        flex-direction: row;
        align-items: flex-start;
    }

    article .article-title {
        font-size: 2.4rem;
    }

    .article-content .item {
        flex-basis: 50%;
        max-width: 50%;
    }

    .app-main .content {
        flex-basis: 75%;
        margin-right: 15px;
    }

    .article-content .item .item-content {
        padding: 10px 15px;
    }

    .item .item-year {
        font-size: 1.3rem;
    }

    .item .item-subtitle {
        font-size: 1.4rem;
    }

    .item .item-description {
        font-size: 1.4rem;
    }

    .item .item-meter, .item .item-meter span {
        height: 10px;
    }
    
    #skill .article-content .item, #work .article-content .item, #portfolio .article-content .item {
        flex-basis: 50%;
        max-width: 50%;
    }

    .app-main .sidebar {
        flex-basis: 25%;
        position: sticky;
        top: calc(109px + 15px);
        order: 2;
    }
}

/* FOR SCREEN GREATER THAN 992px */
@media screen and (min-width: 992px) {
    .app-main .content {
        flex-basis: 70%;
    }

    .app-main .sidebar {
        flex-basis: 30%;
    }

    .app-main .content article, .app-main .sidebar {
        padding: 20px;
    }

    #skill .article-content .item {
        flex-basis: 25%;
        max-width: 25%;
    }
}

/* FOR SCREEN GREATER THAN 1200px */
@media screen and (min-width: 1200px) {
    .article-content .item {
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
}